@inherits LayoutComponentBase

<PageTitle>GestorDeTarefas</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="fundo">
        <div class="top-row px-4">
            <a href="https://www.linkedin.com/in/joscha-maliem-1a4463204" target="_blank">Linkedin</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
