<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="user-info">
            <img src="imagens/image7.jpg" alt="User Picture" class="rounded-circle user-picture" width="40" height="40">
            <a class="navbar-brand" href="">Usuario</a>
        </div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        
    </div>
</div>



<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Tarefas
            </NavLink>
        </div>
       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
